# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.a

# Test binary, built with `go test -c`
*.test

# Editor files
.idea/
*.iml
*.swp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
app/services/rumor-api/rumor-api

# Mac
.DS_Store